In [ ]:
!pip install transformers sentencepiece

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/fd/1a/41c644c963249fd7f3836d926afa1e3f1cc234a1c40d80c5f03ad8f6f1b2/transformers-4.8.2-py3-none-any.whl (2.5MB)
     |████████████████████████████████| 2.5MB 8.6MB/s
Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/ac/aa/1437691b0c7c83086ebb79ce2da16e00bef024f24fec2a5161c35476f499/sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 38.1MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (4.5.0)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 36.8MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/d4/e2/df3543e8ffdab68f5acc73f613de9c2b155ac47f162e725dcac87c521c11/tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 40.0MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from transformers) (3.13)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Collecting huggingface-hub==0.0.12
  Downloading https://files.pythonhosted.org/packages/2f/ee/97e253668fda9b17e968b3f97b2f8e53aa0127e8807d24a547687423fe0b/huggingface_hub-0.0.12-py3-none-any.whl
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Installing collected packages: sacremoses, tokenizers, huggingface-hub, transformers, sentencepiece
Successfully installed huggingface-hub-0.0.12 sacremoses-0.0.45 sentencepiece-0.1.96 tokenizers-0.10.3 transformers-4.8.2

In [ ]:
!nvidia-smi

Thu Jul  8 21:00:30 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.42.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   75C    P8    25W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
!rm -r results

In [ ]:
!wget http://ciir.cs.umass.edu/downloads/qulac/data/qulac/qulac.json

--2021-07-08 19:26:07--  http://ciir.cs.umass.edu/downloads/qulac/data/qulac/qulac.json
Resolving ciir.cs.umass.edu (ciir.cs.umass.edu)... 128.119.246.154
Connecting to ciir.cs.umass.edu (ciir.cs.umass.edu)|128.119.246.154|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3799709 (3.6M) [application/json]
Saving to: ‘qulac.json.3’

qulac.json.3        100%[===================>]   3.62M  5.82MB/s    in 0.6s

2021-07-08 19:26:08 (5.82 MB/s) - ‘qulac.json.3’ saved [3799709/3799709]

In [ ]:
import torch
import shutil
import random
import numpy as np
import transformers
import pandas as pd
import seaborn as sns

from torch import nn
from sklearn.metrics import balanced_accuracy_score, accuracy_score, r2_score
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, RepeatedStratifiedKFold
from transformers import AutoModelForSequenceClassification, AutoModel, AutoTokenizer, Trainer, TrainingArguments, EvalPrediction, RobertaTokenizer, RobertaForSequenceClassification

In [ ]:
random.seed(42)
np.random.seed(42)
torch.manual_seed(42)

In [ ]:
training = pd.read_csv("training.tsv", sep="\t").drop_duplicates()
training["label"] = 1

# Reset Index & References
training.to_csv("training.csv", index=False)
training = pd.read_csv("training.csv")

t = training
for query in training["query"]:
  question_candidates = np.random.choice(training[training["query"] != query]["clarifying_question"], size = 8) # samples per question
  for question in question_candidates:
    t = t.append({
        "query": str(query),
        "clarifying_question": str(question),
        "label": -1
    }, ignore_index = True)

training = t

training.tail()

                                                   query  ... label
27733  i'm interested in history of the electronic me...  ...    -1
27734  i'm interested in history of the electronic me...  ...    -1
27735  i'm interested in history of the electronic me...  ...    -1
27736  i'm interested in history of the electronic me...  ...    -1
27737  i'm interested in history of the electronic me...  ...    -1

[5 rows x 3 columns]

roberta large - no qlac - 3 Epochs - R2 0.746606

In [ ]:
PRETRAINED_MODEL = "roberta-large"

In [ ]:
tokenizer = AutoTokenizer.from_pretrained(PRETRAINED_MODEL, use_fast=True)
training_encodings = tokenizer(
    list(training["query"]),
    list(training["clarifying_question"]), 
    truncation=True, 
    padding=True
)
training_labels = training["label"]

In [ ]:
class DlnlpDataset(torch.utils.data.Dataset):
    def __init__(self, encodings, labels):
        self.encodings = encodings
        self.labels = labels

    def __getitem__(self, idx):
        item = {}
        for key, val in self.encodings.items():
          item[key] = torch.tensor(val[idx])
        
        item["labels"] = torch.tensor(self.labels[idx], dtype=torch.float)

        return item

    def __len__(self):
        return len(self.labels)

In [ ]:
dataset = DlnlpDataset(training_encodings, training_labels)

In [ ]:
train_dataset, validation_dataset = torch.utils.data.random_split(dataset, [int(len(dataset) * .8) + 1, int(len(dataset) * .2)])

In [ ]:
model = AutoModelForSequenceClassification.from_pretrained(PRETRAINED_MODEL, num_labels=1)

Some weights of the model checkpoint at roberta-large were not used when initializing RobertaForSequenceClassification: ['lm_head.decoder.weight', 'roberta.pooler.dense.weight', 'lm_head.bias', 'lm_head.layer_norm.bias', 'lm_head.dense.weight', 'roberta.pooler.dense.bias', 'lm_head.layer_norm.weight', 'lm_head.dense.bias']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaForSequenceClassification were not initialized from the model checkpoint at roberta-large and are newly initialized: ['classifier.out_proj.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [ ]:
def f1_eval(p: EvalPrediction):
    predictions = p.predictions
    label_ids = p.label_ids
    return {
        "r2": r2_score(label_ids, predictions),
        "accuracy": accuracy_score(np.clip(label_ids, 0, 1), np.clip(np.round(predictions), 0, 1)),
        "balanced_accuracy": balanced_accuracy_score(np.clip(label_ids, 0, 1), np.clip(np.round(predictions), 0 , 1)),
    }

In [ ]:
trainer = Trainer(
    model=model,
    args=TrainingArguments(
        overwrite_output_dir=True,
        output_dir='./results',
        save_strategy="no",
        num_train_epochs=5,
        per_device_train_batch_size=4,
        per_device_eval_batch_size=4,
        gradient_accumulation_steps=16,
        warmup_steps=40,
        weight_decay=0.01,
        logging_dir='./logs',
        logging_steps=10,
        evaluation_strategy="epoch",
        learning_rate=1e-05,
        fp16=True,
    ),
    train_dataset=train_dataset,
    eval_dataset=validation_dataset,
    compute_metrics=f1_eval
)

Using amp fp16 backend

In [ ]:
trainer.train()

***** Running training *****
  Num examples = 22191
  Num Epochs = 5
  Instantaneous batch size per device = 4
  Total train batch size (w. parallel, distributed & accumulation) = 64
  Gradient Accumulation steps = 16
  Total optimization steps = 1730

/usr/local/lib/python3.7/dist-packages/transformers/trainer.py:1299: FutureWarning: Non-finite norm encountered in torch.nn.utils.clip_grad_norm_; continuing anyway. Note that the default behavior will change in a future release to error out if a non-finite total norm is encountered. At that point, setting error_if_nonfinite=false will be required to retain the old behavior.
  args.max_grad_norm,
***** Running Evaluation *****
  Num examples = 5547
  Batch size = 4

***** Running Evaluation *****
  Num examples = 5547
  Batch size = 4
***** Running Evaluation *****
  Num examples = 5547
  Batch size = 4
***** Running Evaluation *****
  Num examples = 5547
  Batch size = 4
***** Running Evaluation *****
  Num examples = 5547
  Batch size = 4


Training completed. Do not forget to share your model on huggingface.co/models =)

TrainOutput(global_step=1730, training_loss=0.11070799322831149, metrics={'train_runtime': 3567.7961, 'train_samples_per_second': 31.099, 'train_steps_per_second': 0.485, 'total_flos': 1.2533127989504136e+16, 'train_loss': 0.11070799322831149, 'epoch': 5.0})

In [ ]:
test_set = pd.read_csv("test_set.tsv", sep="\t", names=["query"])
test_set.head(10)

                                               query
0                            Tell me about Computers
1                                 What is a function
2  Im interested in the current cancellor of germany
3           Im looking for information about alcohol
4       I want to know how long an egg needs to boil
5                 I want to know how an engine works
6                    How do i train a neural network
7  Tell me about job opportunites at the technisc...
8              How to become an amazon turkey worker
9               Who is the richest man on the planet

In [ ]:
question_bank = pd.read_csv("question_bank.tsv", sep="\t")
question_bank.head(10)

  question_id                                           question
0      Q00002  a total cholesterol of 180 to 200 mgdl 10 to 1...
1      Q00003  about how many years experience do you want th...
2      Q00004  according to anima the bible or what other source
3      Q00005  ae you looking for examples of septic system d...
4      Q00006                  any specific company on your mind
5      Q00007                   any tutorials would interest you
6      Q00008  are asking what the symptoms are for angular c...
7      Q00009               are interested in the nightlife here
8      Q00010          are looking for reviews on volvo xc90 suv
9      Q00011         are ozzie guillen and fidel castro related

In [ ]:
queries = []
questions = []
question_ids = []
for question, question_id in zip(question_bank["question"], question_bank["question_id"]):
  for query in test_set["query"]:
    queries.append(query)
    questions.append(question)
    question_ids.append(question_id)

test = pd.DataFrame({
    "query": queries,
    "clarifying_question": questions,
    "question_id": question_ids
})
test.head(10)

                                               query  ... question_id
0                            Tell me about Computers  ...      Q00002
1                                 What is a function  ...      Q00002
2  Im interested in the current cancellor of germany  ...      Q00002
3           Im looking for information about alcohol  ...      Q00002
4       I want to know how long an egg needs to boil  ...      Q00002
5                 I want to know how an engine works  ...      Q00002
6                    How do i train a neural network  ...      Q00002
7  Tell me about job opportunites at the technisc...  ...      Q00002
8              How to become an amazon turkey worker  ...      Q00002
9               Who is the richest man on the planet  ...      Q00002

[10 rows x 3 columns]

In [ ]:
test_encodings = tokenizer(
    list(test["query"]), 
    list(test["clarifying_question"]), 
  truncation=True, 
    padding=True
)
test_labels = list(map(int, np.zeros(len(test["query"]))))

In [ ]:
test_dataset = DlnlpDataset(test_encodings, test_labels)

In [ ]:
test["prediction"] = trainer.predict(test_dataset).predictions.reshape(-1)

***** Running Prediction *****
  Num examples = 182160
  Batch size = 4

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1859: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')

In [ ]:
test.head(10)

                                               query  ... prediction
0                            Tell me about Computers  ...  -0.989867
1                                 What is a function  ...  -0.980278
2  Im interested in the current cancellor of germany  ...  -0.998335
3           Im looking for information about alcohol  ...  -0.986084
4       I want to know how long an egg needs to boil  ...  -1.003779
5                 I want to know how an engine works  ...  -0.996259
6                    How do i train a neural network  ...  -0.993569
7  Tell me about job opportunites at the technisc...  ...  -0.985211
8              How to become an amazon turkey worker  ...  -0.998608
9               Who is the richest man on the planet  ...  -0.990558

[10 rows x 4 columns]

In [ ]:
test = test.sort_values(["query", "prediction"], ascending=False)
test.head(10)

                         query  ... prediction
152713  whats inside a calzone  ...   1.114958
120513  whats inside a calzone  ...   1.111786
73915   whats inside a calzone  ...   1.096509
54871   whats inside a calzone  ...   1.079110
30307   whats inside a calzone  ...   1.076265
139327  whats inside a calzone  ...   1.070570
171895  whats inside a calzone  ...   1.065127
41761   whats inside a calzone  ...   1.053256
24419   whats inside a calzone  ...   1.025422
55147   whats inside a calzone  ...   1.015179

[10 rows x 4 columns]

In [ ]:
out = test.groupby([ "query" ]).head(50).reset_index(drop=True)
out

                                        query  ... prediction
0                      whats inside a calzone  ...   1.114958
1                      whats inside a calzone  ...   1.111786
2                      whats inside a calzone  ...   1.096509
3                      whats inside a calzone  ...   1.079110
4                      whats inside a calzone  ...   1.076265
...                                       ...  ...        ...
2295  How do i plug a mouse into the computer  ...  -0.783600
2296  How do i plug a mouse into the computer  ...  -0.787121
2297  How do i plug a mouse into the computer  ...  -0.796877
2298  How do i plug a mouse into the computer  ...  -0.797915
2299  How do i plug a mouse into the computer  ...  -0.799436

[2300 rows x 4 columns]

In [ ]:
out["question_ids"] = list(out.groupby(["query"])["question_id"].transform(lambda x: ','.join(x)))
out

                                        query  ...                                       question_ids
0                      whats inside a calzone  ...  Q03321,Q02621,Q01608,Q01194,Q00660,Q03030,Q037...
1                      whats inside a calzone  ...  Q03321,Q02621,Q01608,Q01194,Q00660,Q03030,Q037...
2                      whats inside a calzone  ...  Q03321,Q02621,Q01608,Q01194,Q00660,Q03030,Q037...
3                      whats inside a calzone  ...  Q03321,Q02621,Q01608,Q01194,Q00660,Q03030,Q037...
4                      whats inside a calzone  ...  Q03321,Q02621,Q01608,Q01194,Q00660,Q03030,Q037...
...                                       ...  ...                                                ...
2295  How do i plug a mouse into the computer  ...  Q01567,Q01058,Q03942,Q01037,Q01867,Q00709,Q029...
2296  How do i plug a mouse into the computer  ...  Q01567,Q01058,Q03942,Q01037,Q01867,Q00709,Q029...
2297  How do i plug a mouse into the computer  ...  Q01567,Q01058,Q03942,Q01037,Q01867,Q00709,Q029...
2298  How do i plug a mouse into the computer  ...  Q01567,Q01058,Q03942,Q01037,Q01867,Q00709,Q029...
2299  How do i plug a mouse into the computer  ...  Q01567,Q01058,Q03942,Q01037,Q01867,Q00709,Q029...

[2300 rows x 5 columns]

In [ ]:
out[["query", "question_ids"]].drop_duplicates().to_csv("answer.txt", sep="\t", header=False, index=False)